<!doctype html>
<html lang="">
<head><meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{{url_for('static', filename='/favicon.ico')}}"><title>boiler</title>
    <script defer="defer" src="{{url_for('static', filename='/js/chunk-vendors.70386fd3.js')}}">
    </script><script defer="defer" src="{{url_for('static', filename='/js/app.be6e34c4.js')}}"></script>
    <link href="{{url_for('static', filename='/css/app.8ad423de.css')}}" rel="stylesheet"></head>
<body><noscript><strong>We're sorry but boiler doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id="app"></div></body></html>